.x, .y {
    box-sizing: border-box;
    background-color: #808080;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.x {
    width: 2px;
    height: 100%;
    cursor: col-resize;
}

.y {
    height: 2px;
    width: 100%;
    cursor: row-resize;
}

[data-editmode="drag"] .x:focus, [data-editmode="drag"] .y:focus {
    background-color: #ffce08;
}

.x:hover, .y:hover, .x:focus, .y:focus {
    background-color: #0843ff;
    border-width: 0px;
}

.x:hover, .x:focus {
    width: 4px;
}

.y:hover, .y:focus {
    height: 4px;
}
